name: Bump upstream version

on:
  schedule:
    - cron: "00 */4 * * *"
  push:
    branches:
      - "master"

jobs:
  bump-upstream:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: npx @dappnode/dappnodesdk github-action bump-upstream --use-variants --skip_build

        env:
          GITHUB_TOKEN: ${{ secrets.PANDA_OPS_BOT_PAT }}