name: "Main"
on:
  pull_request:
  push:
    branches:
      - "master"
    tags:
      - "*@[0-9]+.[0-9]+.[0-9]+_*@[0-9]+.[0-9]+.[0-9]+" # Our variant tags are in the format of 'network@version_network@version'
    paths-ignore:
      - "README.md"

jobs:
  build-test:
    runs-on: ubuntu-latest
    name: Build test
    if: github.event_name != 'push'
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: npx @dappnode/dappnodesdk build --skip_save

  release:
    name: Release
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Publish
        run: npx @dappnode/dappnodesdk publish patch --provider remote --timeout 1h --all-variants --github-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEVELOPER_ADDRESS: "0xf35960302a07022aba880dffaec2fdd64d5bf1c1"